#returnToMap{
    background-color: skyblue;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

#regionHeadingBox{
    background-color: aliceblue;
    width: 100%;
    border-right-style: solid;
    border-top-style: solid;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
}


#countyMainContent {
    padding: 0.125%;
    background-color: lightsteelblue;
}

.chartRow{
    display: flex;
    padding-bottom: 0.125%;
    padding-top: 0.125%;
}

.chart{
    width: 50%;
    padding-left: 0.125%;
    padding-right: 0.125%;
}
